<a href="https://colab.research.google.com/github/Sofia-Barros-Lopes/aula2_ExploreDadoscomPandas/blob/main/Aula2Imers%C3%A3oAlura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Aula 1 - código
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

linhas, colunas = df.shape[0], df.shape[1]
print("Esse é o número de linhas: ", linhas)
print("Esse é o número de colunas: ", colunas)

renomear_colunas = {
    'work_year': 'ano_trabalho',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}
df.rename(columns = renomear_colunas, inplace=True)
df.columns

df['senioridade'] = df['senioridade'].replace({
    'SE': 'Sênior',
    'Intermediário': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
})
df['senioridade'].value_counts()

df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'Contrato': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
})
df['contrato'].value_counts()

df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'M': 'Média',
    'L': 'Grande',
    'S': 'Pequena'
})
df['tamanho_empresa'].value_counts()

df['remoto'] = df['remoto'].replace({
    0: 'Presencial',
    100: 'Totalmente Remoto',
    50: 'Híbrido'
})
df['remoto'].value_counts()

Esse é o número de linhas:  133349
Esse é o número de colunas:  11

remoto
Presencial           105312
Totalmente Remoto     27718
Híbrido                 319
Name: count, dtype: int64

In [4]:
df.isnull()

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum() #Localizar onde estão os valores nulos

ano_trabalho       10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [6]:
df['ano_trabalho'].unique() #Quais são os valores únicos dentro da coluna ano_trabalho

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [7]:
df[df.isnull().any(axis=1)] #Vai trazer todas as linhas com número faltando

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,MI,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Júnior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Sênior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Sênior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Júnior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Totalmente Remoto,MY,Grande
133281,NaN,MI,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Totalmente Remoto,PL,Grande
133317,NaN,MI,Tempo Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

In [14]:
import numpy as np
df_salarios = pd.DataFrame({
    'nome':["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'salario':[4000, np.nan, 5000, np.nan, 100000]
})
#Preenchendo os valores nulos com a media - .mean() - com arredondamento com duas casas decimais - round(2)
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))
#Preenchendo com a mediana
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())
df_salarios

      nome   salario  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [17]:
df_temperaturas = pd.DataFrame({
    'Dia':["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    'Temperaturas':[30, np.nan, np.nan, 28, 27]
})

#Completa com o valor anterior as colunas vazias, sem dado
#bfill() - vai pegar o que estava embaixo
df_temperaturas['preenchido_bfill'] = df_temperaturas['Temperaturas'].bfill()
df_temperaturas

       Dia  Temperaturas  preenchido_bfill
0  Segunda          30.0              30.0
1    Terça           NaN              28.0
2   Quarta           NaN              28.0
3   Quinta          28.0              28.0
4    Sexta          27.0              27.0

In [25]:
df_cidades = pd.DataFrame({
    'nome':["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'cidade':["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})

df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna("Não informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém

In [22]:
df_limpo = df.dropna()
df_limpo.isnull().sum()

ano_trabalho       0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [30]:
df_limpo.head()

,ano_trabalho,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Totalmente Remoto,US,Média
1,2025,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Totalmente Remoto,US,Média
2,2025,MI,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,MI,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [24]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano_trabalho     133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [29]:
#assign - reconfigura a coluna mudando o tipo
df_limpo = df_limpo.assign(ano_trabalho = df_limpo['ano_trabalho'].astype('int64'))
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano_trabalho     133339 non-null  int64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB